# MicroStrategy -> Power BI engine (standard library only), pinned by commit.
# Installed only for deployments licensed for MicroStrategy.
mstr2pbi @ git+https://github.com/MahendraJoshi3844/MicroStrategy-to-Power-BI@3852d73b75a07efed2f3904612b2cb859a4784af
