# Tableau <-> Power BI engine (t2pbi), pinned by commit.
# Installed only for deployments licensed for Tableau.
t2pbi @ git+https://github.com/MahendraJoshi3844/Tableau-to-Power-BI@26012c182e157b37229f2e20e1523faff9a998e1
